.app {
  // border: solid .2em red;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
  max-width: 30em;
  position: relative;

  & > * {
    // border: solid .2em yellow;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: .2em;
  }

  input, 
  textarea,
  select {
    &:focus {
      outline: none;
    }
    background-color: white;
    border: solid .15rem rgba(0,0,0,.75);
    border-radius: .3rem;
    font-size: 1.2em;
  }

  textarea {
    min-height: 4em;
  }

  .convertbutton {
    flex: none;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height: 1em;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    width: 100%;
  } 
}