.app {
  // border: solid .2em red;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  margin: auto;
  max-width: 40em;
  padding: 1em;
  position: relative;

  & > * {
    // border: solid .2em yellow;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: .2em;
  }

  input, 
  textarea {
    font-size: 1.2em;
  }

  .convertbutton {
    align-self: flex-end;
    // font-family: 'Anton', sans-serif;
    flex: none;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: -.05em;
    line-height: 1em;
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
    width: 100%;
  } 
}