* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #ece0be;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
}

#root {
  // border: solid 1em red;
  padding: 1em;
  height: fit-content;
  height: 100vh;
  min-height: 100vh;
}
