.baseselect {
    background-color: transparent; 
    // border: solid .2em red;
    display: flex;
    flex-direction: row;


    & > div {
        // border: solid .2em red;
        flex: 1;

        &:first-child {
            margin-right: 1em;
        }
    }

    select {
        width: 100%;
    }

}