@import '../../styles/mixins.scss';

.spinner {
    align-self: center;
    // border: solid .2em black;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    // height: fit-content;
    // margin: auto;
    // margin-top: 1em;
    // @include fit-content;
    flex: 1;
    padding-top: 2em;
    // & > * {
    //     border: solid .2em red;
    // }
}

.label {
    color: rgba(0,0,0,.8);
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1em;
    text-transform: uppercase;
}

.dotswrapper {
    align-self: center;
    margin-top: .25em;
    width: fit-content;
    
    .dot {
        animation-direction: normal;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    
        background-color: #D11717;    
        border-radius: .5em;
        display: inline-block;
        height: 1em;
        transform: scale(.5);
        width: 1em;
    
        &:first-of-type {
            margin-left: 0;
        }
        margin-left: .4em;
    
    }
    
    .dot1 {
        animation-name: dot1-anim;
    }
    
    
    .dot2 {
        animation-name: dot2-anim;
        animation-delay: .25s;
    }
    
    
    .dot3 {
        animation-name: dot3-anim;
        animation-delay: .5s;
    }

    @keyframes dot1-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }

        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    

    @keyframes dot2-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }


        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    

    @keyframes dot3-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }


        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    
}