@import '../../styles/mixins.scss';

.spinner {
    // border: solid .2em black;
    font-size: 2em;
    margin: auto;
    margin-top: 1em;
    @include fit-content;
}

.label {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0;
}

.dotswrapper {
    margin: auto;
    padding-top: .25em;
    width: fit-content;
    
    .dot {
        animation-direction: normal;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    
        background-color: #D11717;    
        border-radius: .5em;
        display: inline-block;
        height: 1em;
        transform: scale(.5);
        width: 1em;
    
        &:first-of-type {
            margin-left: 0;
        }
        margin-left: .4em;
    
    }
    
    .dot1 {
        animation-name: dot1-anim;
    }
    
    
    .dot2 {
        animation-name: dot2-anim;
        animation-delay: .25s;
    }
    
    
    .dot3 {
        animation-name: dot3-anim;
        animation-delay: .5s;
    }

    @keyframes dot1-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }

        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    

    @keyframes dot2-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }


        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    

    @keyframes dot3-anim {
        0% {
            transform: scale(.5);
        }

        25% {
            transform: scale(1);
        }


        50% {
            transform: scale(.5);
        }

        75% {
            transform: scale(1);
        }

        100% {
            transform: scale(.5);
        }
    }
    
}